.icon-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: color 0.2s;
}

.cart-button {
  position: relative;
}

.cart-badge {
  position: absolute;
  padding: 0.6rem;
  top: 0;
  right: 0;
  background-color: #ff6b6b;
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ead9ca;
}
